*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-root: 16px;
  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 2rem;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --color-1: #000000;
  --color-2: #52525a;
  --color-3: #ffffff;
  --color-4: #f3f4f6;
  --gap-1: 1rem;
  --border-radius: 1rem;
  --box-shadow: 1px 3px 1px 1px #c2c2c254;
}

html {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: var(--font-size-root);
}

main {
  background-color: var(--color-4);
  margin: 3%;
  border-radius: var(--border-radius);
  padding: var(--gap-1);
}

/* HEADING LAYOUT */
.heading {
  margin: 2%;
}
.heading__item {
  margin: auto;
}
.heading__item:not(.heading__icon) {
  width: min(100%, 34rem);
}
.heading__icon {
  width: min(100%, 3rem);
}
.heading__item:not(.heading__icon) {
  text-align: center;
}
.heading__title {
  margin-bottom: var(--gap-1);
}

/* FEATURE SECTION LAYOUT */
.features {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "a a   b b   c c"
    "d  d  d e  e  e";
  gap: var(--gap-1);
}
.feature-1 {
  grid-area: a;
}
.feature-2 {
  grid-area: b;
}
.feature-3 {
  grid-area: c;
}
.feature-4 {
  grid-area: d;
}
.feature-5 {
  grid-area: e;
}
.feature {
  display: flex;
  align-items: center;

  padding: var(--gap-1);

  background-color: var(--color-3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.feature-1,
.feature-2,
.feature-3 {
  flex-direction: column;
}
.feature-4,
.feature-5 {
  flex-direction: row;
}
/* FEATURE IMAGES */
.feature-vertical__img,
.feature-vertical__picture {
  width: min(100%, 19rem);
  height: auto;
}
.feature-horizontal__img,
.feature-horizontal__picture {
  width: min(100%, 17.25rem);
  height: auto;
}

/* MODULES */
picture,
img {
  display: block;
}

/* TYPOGRAPHY */
.title {
  font-weight: var(--font-weight-bold);
  color: var(--color-1);
}
.heading__title {
  font-size: var(--font-size-large);
}
.feature__title {
  font-size: var(--font-size-medium);
}
.description {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--color-2);
}

@media (max-width: 1024px) and (min-width: 641px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "a    b"
      "c    c"
      "d    d"
      "e    e";
  }
  .feature-3 {
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .features {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }
  .feature {
    flex-direction: column;
  }
}
