*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-size-root: 16px;
    --font-size-small: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 2rem;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --color-1: #000000;
    --color-2: #52525A;
    --color-3: #FFFFFF;
    --color-4: #F3F4F6;
}

html {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: var(--font-size-root);
}

/* TYPOGRAPHY */
.title {
    font-weight: var(--font-weight-bold);
    color: var(--color-1);
}
.heading__title {
    font-size: var(--font-size-large);
}
.feature__title {
    font-size: var(--font-size-medium);
}
.description {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-2);
}